.whole_body {
    font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', 'SimSun', 'sans-serif';
    line-height: 2;
    background-color: #f2f2f2;
}

.right_float {
    background-color:  #ffffff; 
    padding: 15px;
    display: block;
    position: fixed;
    width: 15%;
    top: 5%;
    right: 15%;
    border: 3px solid black;
}

.right_float h2 {
    text-align: center;
}

.outline {
    background-color:  #ffffff; 
    padding: 15px;
    display: block;
    position: fixed;
    width: 15%;
    bottom: 15%;
    right: 15%;
    border: 3px solid black;
}

.main_pane {
    background-color:  #ffffff; 
    padding: 20px;
    position: absolute;
    display: block;
    left: 10%;
    top: 5%;
    width: 55%;
}


pre{
    display: block;
    background-color: black;
    color: white;
    counter-reset: line;
    tab-size: 4;
    white-space: pre-wrap;
    padding: 15px;
}

