.uni_1 {
    font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', 'SimSun', 'sans-serif';
    line-height: 2;
    background-color: #f2f2f2;
}

.right_float {
    background-color:  #ffffff; 
    padding: 10px; 
    display: block;
    position: fixed;
    width: 15%;
    top: 5%;
    right: 15%;
}

.main_pane {
    background-color:  #ffffff; 
    padding: 20px; 
    position: absolute;
    display: block;
    left: 10%;
    top: 5%;
    width: 55%;
}


